<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Météo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <form #formulaire="ngForm" (ngSubmit)="onGetMeteo(formulaire.value)">
      <ion-item>
        <ion-label>Ville :</ion-label>
        <ion-input name="ville" type="text" ngModel required></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" [disabled]="!formulaire.valid" color="secondary">Obtenir la météo</ion-button>
    </form>

    <ion-list *ngIf="meteo">
      <h2 class="ion-padding-top ion-no-margin">Météo de {{ meteo.city.name }} ({{ meteo.city.country }})</h2>
      <p class="ion-no-padding ion-no-margin">sur 5 jours</p>

      <ion-item *ngFor="let m of meteo.list">
        <ion-avatar slot="start">
          <img src="https://openweathermap.org/img/w/{{ m.weather[0].icon }}.png">
        </ion-avatar>
        <ion-label>
          <h2 >Le :<strong> {{ m.dt*1000 | date:'dd/MM/yyyy à HH:mm' }} </strong></h2>
          <p>Température :<strong> {{ m.main.temp }} °C </strong></p>
          <p>Pression :<strong> {{ m.main.pressure }} hPA </strong></p>
          <p>Taux d'humidité :<strong> {{ m.main.humidity }} % </strong></p>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
