// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #5e0ae4;
  --ion-color-primary-rgb: 94,10,228;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #5309c9;
  --ion-color-primary-tint: #6e23e7;

  --ion-color-secondary: #FFF500;
  --ion-color-secondary-rgb: 255,245,0;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e0d800;
  --ion-color-secondary-tint: #fff61a;

  --ion-color-tertiary: #8D45FF;
  --ion-color-tertiary-rgb: 141,69,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #7c3de0;
  --ion-color-tertiary-tint: #9858ff;

  --ion-color-success: #0cd147;
  --ion-color-success-rgb: 12,209,71;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #0bb83e;
  --ion-color-success-tint: #24d659;

  --ion-color-warning: #FFB316;
  --ion-color-warning-rgb: 255,179,22;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e09e13;
  --ion-color-warning-tint: #ffbb2d;

  --ion-color-danger: #bb2828;
  --ion-color-danger-rgb: 187,40,40;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #a52323;
  --ion-color-danger-tint: #c23e3e;

  --ion-color-dark: #2C2C2C;
  --ion-color-dark-rgb: 44,44,44;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #272727;
  --ion-color-dark-tint: #414141;

  --ion-color-medium: #6B6B6B;
  --ion-color-medium-rgb: 107,107,107;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #5e5e5e;
  --ion-color-medium-tint: #7a7a7a;

  --ion-color-light: #A3A3A3;
  --ion-color-light-rgb: 163,163,163;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #8f8f8f;
  --ion-color-light-tint: #acacac;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #5e0ae4;
    --ion-color-primary-rgb: 94,10,228;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #5309c9;
    --ion-color-primary-tint: #6e23e7;
  
    --ion-color-secondary: #FFF500;
    --ion-color-secondary-rgb: 255,245,0;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #e0d800;
    --ion-color-secondary-tint: #fff61a;
  
    --ion-color-tertiary: #8D45FF;
    --ion-color-tertiary-rgb: 141,69,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #7c3de0;
    --ion-color-tertiary-tint: #9858ff;
  
    --ion-color-success: #0cd147;
    --ion-color-success-rgb: 12,209,71;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #0bb83e;
    --ion-color-success-tint: #24d659;
  
    --ion-color-warning: #FFB316;
    --ion-color-warning-rgb: 255,179,22;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e09e13;
    --ion-color-warning-tint: #ffbb2d;
  
    --ion-color-danger: #bb2828;
    --ion-color-danger-rgb: 187,40,40;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #a52323;
    --ion-color-danger-tint: #c23e3e;
  
    --ion-color-dark: #2C2C2C;
    --ion-color-dark-rgb: 44,44,44;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #272727;
    --ion-color-dark-tint: #414141;
  
    --ion-color-medium: #6B6B6B;
    --ion-color-medium-rgb: 107,107,107;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #5e5e5e;
    --ion-color-medium-tint: #7a7a7a;
  
    --ion-color-light: #A3A3A3;
    --ion-color-light-rgb: 163,163,163;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #8f8f8f;
    --ion-color-light-tint: #acacac;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #1c1c1c;
    --ion-item-background-activated: #313131;
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1A1B1E;
  }

  ion-title.title-large {
    --color: white;
  }
}